name: CI
on:
  push:
    branches:
      - main
    paths-ignore:
      - "README.md"
      - "docs/**"
      - "*.md"
  pull_request:
    paths-ignore:
      - "README.md"
      - "docs/**"
      - "*.md"
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with: { go-version: "1.25.5" }
      - name: Install golangci-lint
        run: go install github.com/golangci/golangci-lint/cmd/golangci-lint@latest
      - name: run tests
        run: make lint test coverage
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          file: ./coverage.out
          token: ${{ secrets.CODECOV_TOKEN }}
